body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh; /* Altura total de la ventana */
}

#toolbar {
    background-color: #333; /* Color gris oscuro */
    color: white; /* Color del texto */
    padding: 10px; /* Espaciado interno */
    position: relative; /* Posición relativa para el contenedor */
}

h1 {
    text-align: center;
    margin: 0; /* Sin margen para el título */
}

#map {
    height: calc(100vh - 60px); /* Altura del mapa, restando la altura de la barra de herramientas */
}

#searchContainer {
    position: absolute;
    top: 10px; /* Distancia desde la parte superior */
    left: 50px; /* Centrar horizontalmente */
    z-index: 1000; /* Asegúrate de que esté por encima del mapa */
    background: white; /* Fondo blanco para el cuadro de búsqueda */
    padding: 5px; /* Espaciado interno */
    border-radius: 4px; /* Bordes redondeados */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); /* Sombra para el cuadro */
}

#search {
    padding: 5px; /* Espaciado interno */
    border: 1px solid #ccc; /* Borde del campo de texto */
    border-radius: 4px; /* Bordes redondeados */
    width: 200px; /* Ancho del campo de texto */
    position: relative; /* Para posicionar el ícono de aspa */
}

#clearButton {
    position: absolute; /* Posición absoluta dentro del campo de texto */
    left: 195px; /* Alinear a la izquierda */
    top: 2px;
    font-size: 25px; /* Tamaño del ícono */
    color: #888; /* Color del ícono */
    cursor: pointer; /* Cambia el cursor al pasar sobre el ícono */
}

#clearButton:hover {
    color: #333; /* Color del ícono al pasar el mouse */
}

#searchButton {
    margin-left: 10px; /* Espaciado a la izquierda del botón */
}

#results {
    list-style-type: none; /* Sin viñetas */
    padding: 0; /* Sin padding */
    margin: 0; /* Sin margen */
    max-height: 200px; /* Altura máxima para la lista */
    overflow-y: auto; /* Desplazamiento vertical si es necesario */
}

#results li {
    padding: 5px; /* Espaciado interno para los elementos de la lista */
    cursor: pointer; /* Cambia el cursor al pasar sobre los elementos */
}

#results li:hover {
    background-color: #f0f0f0; /* Color de fondo al pasar el mouse */
}

#locateButton {
    position: absolute;
    bottom: 20px; /* Distancia desde la parte inferior */
    right: 20px; /* Distancia desde la derecha */
    background-color: white; /* Fondo blanco */
    border: 1px solid #ccc; /* Borde gris */
    border-radius: 50%; /* Bordes redondeados */
    padding: 10px; /* Espaciado interno */
    cursor: pointer; /* Cambia el cursor al pasar sobre el ícono */
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.3); /* Sombra para el botón */
    z-index: 1000; /* Asegúrate de que esté por encima del mapa */
}

#locateButton:hover {
    background-color: #f0f0f0; /* Color de fondo al pasar el mouse */
}
